{% extends "base.html" %}

{% comment %} 변수인 rooms의 이름은 rooms-views.py의 context 내의 변수명과 같아야한다 {% endcomment %}
{% comment %} base.html을 여기 home.html에서 사용하려면 extends를 해줘야한다 {% endcomment %}

{% block page_name %}
    Home
{% endblock page_name %}

{% comment %} block을 사용하여 for문을 base에 출력하게 한다 {% endcomment %}
{% comment %} 자식이 생성한 컨텐츠를 부모가 사용할 수 있게 해준다 {% endcomment %}
{% block content %}

    {% for room in page.object_list %}
        <h1>{{room.name}} / ${{room.price}}</h1>
    {% endfor %}

    <h5>
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}">Previous</a>
    {% endif %}
    
    page {{page.number}} of {{page.paginator.num_pages}}

    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}">Next</a>
    {% endif %}
    
    </h5>
{% endblock content %}

